In [1]:
#import the dataset and show the first 5 lines of CRSP 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Handle compustat data
compu = pd.read_csv("/content/drive/My Drive/FINA3327_Final/compu_uodated.csv")
compu = compu.rename(columns={'LPERMNO':'PERMNO','datadate':'date'},inplace = False)
compu = compu[['PERMNO','date','fyear','at','cogs','revt','seq']]
compu['date'] = compu['date']//100
compu.head()

   PERMNO    date   fyear      at    cogs    revt     seq
0   25881  197012  1970.0  33.450  30.529  45.335  10.544
1   25881  197112  1971.0  29.330  33.973  47.033   8.382
2   25881  197212  1972.0  19.907  22.702  34.362   7.021
3   25881  197312  1973.0  21.771  24.704  37.750   8.567
4   25881  197412  1974.0  25.638  36.646  50.325  10.257

In [4]:
#Handle CRSP data
crsp = pd.read_csv("/content/drive/My Drive/FINA3327_Final/crsp.csv")
crsp['fyear'] = crsp['date']//10000.0
crsp['date'] = crsp['date']//100
crsp['RET'] = crsp['RET'].replace('C',np.nan)
crsp['RET'] = crsp['RET'].replace('B',np.nan)
crsp['mkt_cap'] = crsp['PRC']*crsp['SHROUT']
crsp.head()

   PERMNO    date  PERMCO     PRC        RET  SHROUT  fyear  mkt_cap
0   10000  198512    7952     NaN        NaN     NaN   1985      NaN
1   10000  198601    7952 -4.3750        NaN  3680.0   1986 -16100.0
2   10000  198602    7952 -3.2500  -0.257143  3680.0   1986 -11960.0
3   10000  198603    7952 -4.4375   0.365385  3680.0   1986 -16330.0
4   10000  198604    7952 -4.0000  -0.098592  3793.0   1986 -15172.0

In [5]:
#Merge compustat and crsp
whole_data = pd.merge(crsp, compu, 'left')
whole_data['LPERMNO'] = whole_data['PERMNO'] 
whole_data = whole_data.groupby(whole_data['PERMNO']).ffill()
whole_data = whole_data.rename({'LPERMNO':'PERMNO'})
whole_data.head()

     date  PERMCO     PRC        RET  SHROUT  ...  at  cogs  revt  seq  LPERMNO
0  198512    7952     NaN        NaN     NaN  ... NaN   NaN   NaN  NaN    10000
1  198601    7952 -4.3750        NaN  3680.0  ... NaN   NaN   NaN  NaN    10000
2  198602    7952 -3.2500  -0.257143  3680.0  ... NaN   NaN   NaN  NaN    10000
3  198603    7952 -4.4375   0.365385  3680.0  ... NaN   NaN   NaN  NaN    10000
4  198604    7952 -4.0000  -0.098592  3793.0  ... NaN   NaN   NaN  NaN    10000

[5 rows x 12 columns]

In [6]:
#Drop rows where mkt_cap(ie. PRC) is negative because there is no trade that month
indexNames = whole_data[ whole_data['mkt_cap'] < 0 ].index
whole_data = whole_data.drop(indexNames, inplace=False)
whole_data

           date  PERMCO        PRC  ...      revt        seq  LPERMNO
0        198512    7952        NaN  ...       NaN        NaN    10000
19       198512    7953        NaN  ...       NaN        NaN    10001
28       198609    7953    6.37500  ...     21.46      5.432    10001
29       198610    7953    6.62500  ...     21.46      5.432    10001
30       198611    7953    7.00000  ...     21.46      5.432    10001
...         ...     ...        ...  ...       ...        ...      ...
4477710  202008   53453  498.32001  ...  24578.00   6618.000    93436
4477711  202009   53453  429.01001  ...  24578.00   6618.000    93436
4477712  202010   53453  388.04001  ...  24578.00   6618.000    93436
4477713  202011   53453  567.59998  ...  24578.00   6618.000    93436
4477714  202012   53453  705.66998  ...  31536.00  22225.000    93436

[3678733 rows x 12 columns]

In [7]:
#Drop data which has NAN in any coloums
whole_data = whole_data.dropna(axis=0,how='any')
whole_data

           date  PERMCO        PRC  ...      revt        seq  LPERMNO
28       198609    7953    6.37500  ...     21.46      5.432    10001
29       198610    7953    6.62500  ...     21.46      5.432    10001
30       198611    7953    7.00000  ...     21.46      5.432    10001
31       198612    7953    7.00000  ...     21.46      5.432    10001
32       198701    7953    6.75000  ...     21.46      5.432    10001
...         ...     ...        ...  ...       ...        ...      ...
4477710  202008   53453  498.32001  ...  24578.00   6618.000    93436
4477711  202009   53453  429.01001  ...  24578.00   6618.000    93436
4477712  202010   53453  388.04001  ...  24578.00   6618.000    93436
4477713  202011   53453  567.59998  ...  24578.00   6618.000    93436
4477714  202012   53453  705.66998  ...  31536.00  22225.000    93436

[2452045 rows x 12 columns]

In [8]:
#Calculate profitability and BM_ratio and double sorting
whole_data['Profitability'] = (whole_data['revt']-whole_data['cogs'])/whole_data['at']
whole_data['BM_ratio'] = (whole_data['seq']/whole_data['mkt_cap'])
whole_data['rankPro'] = whole_data['Profitability'].groupby(whole_data['date']).rank(ascending=False,method='dense')
whole_data['rankBM'] = whole_data['BM_ratio'].groupby(whole_data['date']).rank(ascending=False,method='dense')
whole_data['rank'] = (whole_data['rankPro']*0+ whole_data['rankBM']*1).groupby(whole_data['date']).rank(ascending=True,method='dense')
whole_data

           date  PERMCO        PRC  ... rankPro  rankBM    rank
28       198609    7953    6.37500  ...  2151.0   913.0   913.0
29       198610    7953    6.62500  ...  2181.0   948.0   948.0
30       198611    7953    7.00000  ...  2114.0  1013.0  1013.0
31       198612    7953    7.00000  ...  2322.0  1310.0  1310.0
32       198701    7953    6.75000  ...  2216.0   944.0   944.0
...         ...     ...        ...  ...     ...     ...     ...
4477710  202008   53453  498.32001  ...  1889.0  4106.0  4106.0
4477711  202009   53453  429.01001  ...  1880.0  4093.0  4093.0
4477712  202010   53453  388.04001  ...  1867.0  4069.0  4069.0
4477713  202011   53453  567.59998  ...  1866.0  4076.0  4076.0
4477714  202012   53453  705.66998  ...  1792.0  4139.0  4139.0

[2452045 rows x 17 columns]

In [9]:
#strategy
whole_data['strategy_rule'] = (whole_data['rank']<=50) & (whole_data['PRC'].notnull())
whole_data['strategy_rule'] = whole_data['strategy_rule'].astype(int) # convert T/F to 1/0
whole_data['market_value'] = whole_data.PRC * whole_data.SHROUT
whole_data

           date  PERMCO        PRC  ...    rank  strategy_rule  market_value
28       198609    7953    6.37500  ...   913.0              0  6.317625e+03
29       198610    7953    6.62500  ...   948.0              0  6.565375e+03
30       198611    7953    7.00000  ...  1013.0              0  6.937000e+03
31       198612    7953    7.00000  ...  1310.0              0  6.937000e+03
32       198701    7953    6.75000  ...   944.0              0  6.689250e+03
...         ...     ...        ...  ...     ...            ...           ...
4477710  202008   53453  498.32001  ...  4106.0              0  4.643391e+08
4477711  202009   53453  429.01001  ...  4093.0              0  4.067015e+08
4477712  202010   53453  388.04001  ...  4069.0              0  3.678235e+08
4477713  202011   53453  567.59998  ...  4076.0              0  5.380286e+08
4477714  202012   53453  705.66998  ...  4139.0              0  6.689053e+08

[2452045 rows x 19 columns]

In [10]:
#portfolio build
def eq_weight(df):
    stock_number = df['strategy_rule'].sum() 
    # we divided 12 because we need monthly statistics
    try:
        df['eq_weight'] = df['strategy_rule']/stock_number
    except:
        weights = np.nan
    return df
def val_weight(df):
    total_mv = df.loc[df['strategy_rule']==1,'market_value'].sum()
    try:
        df['val_weight']= df.loc[df['strategy_rule']==1,'market_value']/total_mv
    except:
        weights = np.nan
    return df

In [11]:
def sort_rank(df):
    sorted_list = df.sort_values(by=['rank','date'],ascending=[True,True])
    return sorted_list

In [12]:
whole_data_w = whole_data.groupby('date').apply(eq_weight)
whole_data_w = whole_data_w.groupby('date').apply(val_weight) 
whole_data_w.groupby('date').apply(sort_rank)

# we define a new dataframe "show" here to present the result of weighting
show = whole_data_w[(whole_data_w['strategy_rule']==1.0) 
          & (whole_data_w['date'] == 200703) 
          & (whole_data_w['fyear'] == 2007)]
show.sort_values(by=['rank'],ascending=[True]).head(10)

           date  PERMCO    PRC  ... market_value  eq_weight  val_weight
4096129  200703   44403  73.40  ...     46095.20       0.02    0.002955
3893760  200703   18704   9.19  ...      7544.99       0.02    0.000484
2671134  200703    1720  25.36  ...     69055.28       0.02    0.004427
3872053  200703   17423   3.89  ...      1688.26       0.02    0.000108
4007123  200703   42121  13.52  ...     11262.16       0.02    0.000722
3854720  200703   36344  17.50  ...      4340.00       0.02    0.000278
3971673  200703   41011  50.44  ...     22950.20       0.02    0.001471
4038480  200703   43153  65.28  ...     48307.20       0.02    0.003097
3516373  200703   14605   4.02  ...      6548.58       0.02    0.000420
4189665  200703    7282  18.00  ...      8136.00       0.02    0.000522

[10 rows x 21 columns]

In [13]:
#calculate return
def calculate_return(df):
    df['RET'] = df['RET'].astype(float)
    df['eq_weighted_r'] = df['eq_weight'] * df['RET']
    df['val_weighted_r'] = df['val_weight'] * df['RET']
    eq_return = pd.pivot_table(df,index='date',values='eq_weighted_r',aggfunc=np.sum)
    val_return = pd.pivot_table(df,index='date',values='val_weighted_r',aggfunc=np.sum)
    return_dataset = pd.concat([eq_return,val_return],axis=1)
    return return_dataset

In [14]:
def shift_return(df):
    df['val_weight'] = df['val_weight'].shift(1)
    return df

In [15]:
# shift return
portfolio = whole_data_w[whole_data_w.columns].groupby('LPERMNO').apply(shift_return)
portfolio = portfolio.dropna(axis=0,how='any')
portfolio.head()

        date  PERMCO    PRC  ... market_value  eq_weight  val_weight
6312  198711    7988  1.125  ...      824.625       0.02    0.000369
6313  198712    7988  1.375  ...     1007.875       0.02    0.000153
6314  198801    7988  2.000  ...     1466.000       0.02    0.000218
6315  198802    7988  2.000  ...     1466.000       0.02    0.000307
6319  198806    7988  2.000  ...     1466.000       0.02    0.000181

[5 rows x 21 columns]

In [16]:
portfolio.head()

        date  PERMCO    PRC  ... market_value  eq_weight  val_weight
6312  198711    7988  1.125  ...      824.625       0.02    0.000369
6313  198712    7988  1.375  ...     1007.875       0.02    0.000153
6314  198801    7988  2.000  ...     1466.000       0.02    0.000218
6315  198802    7988  2.000  ...     1466.000       0.02    0.000307
6319  198806    7988  2.000  ...     1466.000       0.02    0.000181

[5 rows x 21 columns]

In [17]:
#yearly return
return_dataset = calculate_return(portfolio)
return_dataset.head(5)

        eq_weighted_r  val_weighted_r
date
196001       0.025000        0.025000
196002      -0.018018       -0.018018
196003      -0.050459       -0.050459
196004       0.009756        0.009756
196005      -0.057971       -0.057971

In [18]:
#cumulative return
final = return_dataset.copy()
final['eq_weighted_R'] = return_dataset['eq_weighted_r']+1
final['val_weighted_R'] = return_dataset['val_weighted_r']+1
final['eq_cum_R'] = final['eq_weighted_R'].cumprod()
final['val_cum_R'] = final['val_weighted_R'].cumprod()
final.head()

        eq_weighted_r  val_weighted_r  ...  eq_cum_R  val_cum_R
date                                   ...
196001       0.025000        0.025000  ...  1.025000   1.025000
196002      -0.018018       -0.018018  ...  1.006532   1.006532
196003      -0.050459       -0.050459  ...  0.955743   0.955743
196004       0.009756        0.009756  ...  0.965067   0.965067
196005      -0.057971       -0.057971  ...  0.909121   0.909121

[5 rows x 6 columns]

In [19]:
final.to_excel('3327 final Profit Double Sorting_BM only.xlsx', sheet_name = 'return')

In [20]:
#data analysis

In [21]:
reg_raw = pd.read_excel("/content/drive/My Drive/FINA3327_Final/stat_data_BM_only.xlsx")

In [22]:
reg_raw.head()

     Date  eq_weighted_r  val_weighted_r  ...      rf   eq_r-rf  val_r-rf
0  196001       0.025000        0.025000  ...  0.0033  0.021700  0.021700
1  196002      -0.018018       -0.018018  ...  0.0029 -0.020918 -0.020918
2  196003      -0.050459       -0.050459  ...  0.0035 -0.053959 -0.053959
3  196004       0.009756        0.009756  ...  0.0019  0.007856  0.007856
4  196005      -0.057971       -0.057971  ...  0.0027 -0.060671 -0.060671

[5 rows x 17 columns]

In [23]:
#equal weight carhart

In [37]:
y_e_Ca = reg_raw[['eq_r-rf']]
x_Ca = reg_raw[['HML','SMB','Mkt-rf','Momentum']]
x_Ca.head()

      HML     SMB  Mkt-rf  Momentum
0  0.0269  0.0205 -0.0698   -0.0349
1 -0.0203  0.0056  0.0117    0.0386
2 -0.0284 -0.0047 -0.0163    0.0143
3 -0.0237  0.0039 -0.0171    0.0281
4 -0.0372  0.0127  0.0312    0.0481

In [38]:
y_e_Ca.head()

    eq_r-rf
0  0.021700
1 -0.020918
2 -0.053959
3  0.007856
4 -0.060671

In [39]:
import statsmodels.api as sm

In [40]:
x1 = sm.add_constant(x_Ca)
lm = sm.OLS(y_e_Ca.astype(float),x1.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                eq_r-rf   R-squared:                       0.652
Model:                            OLS   Adj. R-squared:                  0.650
Method:                 Least Squares   F-statistic:                     318.7
Date:                Wed, 21 Apr 2021   Prob (F-statistic):          2.73e-154
Time:                        05:42:32   Log-Likelihood:                 1306.4
No. Observations:                 685   AIC:                            -2603.
Df Residuals:                     680   BIC:                            -2580.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0087      0.001     -6.018      0.000      -0.012      -0.006
HML            0.3955      0.053      7.396      0.000       0.290       0.500
SMB            0.5916      0.048     12.298      0.000       0.497       0.686
Mkt-rf         0.8828      0.034     25.837      0.000       0.816       0.950
Momentum      -0.3097      0.035     -8.959      0.000      -0.378      -0.242
==============================================================================
Omnibus:                       48.689   Durbin-Watson:                   1.835
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              149.479
Skew:                           0.290   Prob(JB):                     3.47e-33
Kurtosis:                       5.214   Cond. No.                         40.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
#value weighted carhart

In [42]:
y_v_Ca = reg_raw[['val_r-rf']]

In [43]:
lm = sm.OLS(y_v_Ca.astype(float),x1.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               val_r-rf   R-squared:                       0.645
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     309.3
Date:                Wed, 21 Apr 2021   Prob (F-statistic):          1.91e-151
Time:                        05:42:36   Log-Likelihood:                 1288.6
No. Observations:                 685   AIC:                            -2567.
Df Residuals:                     680   BIC:                            -2545.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0031      0.001      2.102      0.036       0.000       0.006
HML            0.4121      0.055      7.509      0.000       0.304       0.520
SMB            0.3109      0.049      6.298      0.000       0.214       0.408
Mkt-rf         1.0163      0.035     28.985      0.000       0.947       1.085
Momentum      -0.2701      0.035     -7.614      0.000      -0.340      -0.200
==============================================================================
Omnibus:                       78.770   Durbin-Watson:                   1.899
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              282.357
Skew:                           0.494   Prob(JB):                     4.86e-62
Kurtosis:                       5.986   Cond. No.                         40.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [31]:
#equal weighted CAPM

In [44]:
y_e_CA = reg_raw[['eq_r-rf']]
x_CA = reg_raw[['Mkt-rf']]

In [45]:
x2 = sm.add_constant(x_CA)
lm = sm.OLS(y_e_CA.astype(float),x2.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                eq_r-rf   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.499
Method:                 Least Squares   F-statistic:                     683.0
Date:                Wed, 21 Apr 2021   Prob (F-statistic):          6.85e-105
Time:                        05:42:40   Log-Likelihood:                 1182.1
No. Observations:                 685   AIC:                            -2360.
Df Residuals:                     683   BIC:                            -2351.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0086      0.002     -5.208      0.000      -0.012      -0.005
Mkt-rf         0.9781      0.037     26.134      0.000       0.905       1.052
==============================================================================
Omnibus:                      199.117   Durbin-Watson:                   1.831
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1664.715
Skew:                           1.053   Prob(JB):                         0.00
Kurtosis:                      10.341   Cond. No.                         22.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [34]:
#value weighted CAPM

In [46]:
y_v_CA = reg_raw[['val_r-rf']]

In [47]:
lm = sm.OLS(y_v_CA.astype(float),x2.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               val_r-rf   R-squared:                       0.554
Model:                            OLS   Adj. R-squared:                  0.554
Method:                 Least Squares   F-statistic:                     849.6
Date:                Wed, 21 Apr 2021   Prob (F-statistic):          5.51e-122
Time:                        05:42:44   Log-Likelihood:                 1210.4
No. Observations:                 685   AIC:                            -2417.
Df Residuals:                     683   BIC:                            -2408.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0033      0.002      2.057      0.040       0.000       0.006
Mkt-rf         1.0468      0.036     29.148      0.000       0.976       1.117
==============================================================================
Omnibus:                      225.189   Durbin-Watson:                   1.889
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2041.305
Skew:                           1.201   Prob(JB):                         0.00
Kurtosis:                      11.109   Cond. No.                         22.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.